@model MvcLunchSite.Models.IndexViewModel

@{
    ViewBag.Title = "Change Role";
}

<h2>Change Role</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.DisplayFor(model => model.email);
    <p></p>
        <div class="form-group">
            <div class="col-md-10">
                <p>Email: </p>
                @if (ViewBag.Item == null)
                {
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                }
                else
                {
                    <p>@ViewBag.Item</p>
                    @Html.HiddenFor(model=>model.email, new { @Value = @ViewBag.Item })
                }
                <p>Choose New Role: </p>@Html.DropDownList("RoleName",new List<SelectListItem>{
                                      new SelectListItem {Text="user", Value="user", Selected=ViewBag.userBool},
                                      new SelectListItem {Text="orderer", Value="orderer", Selected=ViewBag.ordererBool},
                                      new SelectListItem {Text="admin", Value="admin", Selected=ViewBag.adminBool },
                                      new SelectListItem {Text="superuser", Value="superuser", Selected=ViewBag.superuserBool }
                                  })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <button onclick="location.href='@Url.Action("Index", "Manage")';return false;" class="btn">Cancel</button>
            </div>
        </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}