@model MvcLunchSite.Models.IndexViewModel
@{ var list = (List<MvcLunchSite.Models.ApplicationUser>)ViewData["UserList"];}
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        
    </dl>
    @if (Model.RoleName != null)
    {
        <p>User Privileges</p>
        if (Model.RoleName.ToLower() == "orderer"|| Model.RoleName.ToLower() == "Admin"|| Model.RoleName.ToLower() == "superuser")
        {
            <p>Orderer Privileges</p>
            if (Model.RoleName.ToLower() == "Admin"|| Model.RoleName.ToLower() == "superuser")
            {
                <p>Admin Privileges</p>
                if (Model.RoleName.ToLower() == "superuser")
                {
                    <p>Superuser Privileges</p>
                    <p></p>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>User Email</th>
                                    <th>User Role</th>
                                    <th>Edit Role</th>
                                </tr>
                            </thead>
                            @foreach (var User in list)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => User.Email)</td>
                                    <td>@Html.DisplayFor(modelItem => User.Role) </td>
                                    <td>@Html.ActionLink("Change Role", "ChangeRole", new { id = User.Id })</td>
                                </tr>
                            }
                        </table>
                    </div>
                }
            }
        }

    }
</div>
