@using Microsoft.AspNet.Identity

@model IEnumerable<MvcLunchSite.Models.Restaurant>
@{ var restaurantList = (List<MvcLunchSite.Models.Restaurant>)ViewData["RestaurantList"];}
@{ var Menulist = (List<MvcLunchSite.Models.Menu>)ViewData["MenuList"];}
@{ var Itemlist = (List<MvcLunchSite.Models.MenuItem>)ViewData["MenuItemList"];}
@{ var TopScoresList = (List<string>)ViewData["TopScoresList"];}
@{ var orderList = (List<MvcLunchSite.Models.Order>)ViewData["OrderList"];}

@{
    ViewBag.Title = "Home Page";
}

@* Voting and Top Score Display *@
@using (Html.BeginForm("Vote", "Home", FormMethod.Post))
{
    <div id ="jumbo" class="jumbotron">
        <div class="row">
            <center>
            <div class="col-xs-6">
                <h2>Vote for Your Favorite Restaraunts</h2>
                @{
                    List<SelectListItem> listNumber = new List<SelectListItem>();
                    listNumber.Add(new SelectListItem { Value = "-1", Text = " " });

                    foreach (var item in restaurantList)
                    {
                        listNumber.Add(new SelectListItem { Value = item.ID.ToString(), Text = item.name });
                    }
                }

                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                <script type="text/javascript">
                
                    var firstDD = -1, secondDD =-1, thirdDD=-1;

                    function UpdateDropdown(ddl) {
                        var val = ddl.options[ddl.selectedIndex].value;
                        firstDD = val;

                        if (secondDD != -1 && secondDD == val) {

                            //console.log("HEH1");
                            $("#Choice2 > option").remove();
                            $("#" + ddl.id + "> option").each(function () {
                                var opt = document.createElement("option");
                                opt.text = this.text;
                                opt.value = this.value;
                                document.getElementById("Choice2").options.add(opt);
                            })
                            
                        }
                        else if (thirdDD != -1 && thirdDD == val)
                        {
                            //console.log("HEH2");
                            $("#Choice3 > option").remove();
                            $("#" + ddl.id + "> option").each(function () {
                                var opt = document.createElement("option");
                                opt.text = this.text;
                                opt.value = this.value;
                                document.getElementById("Choice3").options.add(opt);
                            })
                        }
                    }

                    function UpdateDropdown2(ddl) {
                        var val = ddl.options[ddl.selectedIndex].value;
                        secondDD = val;


                        if (thirdDD != -1 && thirdDD == val) {
                            $("#Choice3 > option").remove();
                            $("#" + ddl.id + "> option").each(function () {
                                var opt = document.createElement("option");
                                opt.text = this.text;
                                opt.value = this.value;
                                document.getElementById("Choice3").options.add(opt);
                            })
                        }
                        else if (firstDD != -1 && firstDD == val) {
                            $("#Choice1 > option").remove();
                            $("#" + ddl.id + "> option").each(function () {
                                var opt = document.createElement("option");
                                opt.text = this.text;
                                opt.value = this.value;
                                document.getElementById("Choice1").options.add(opt);
                            })
                            
                        }
                        

                    }

                    function UpdateDropdown3(ddl) {
                        var val = ddl.options[ddl.selectedIndex].value;
                        thirdDD = val;


                        if (secondDD != -1 && secondDD == val) {
                            $("#Choice2 > option").remove();
                            $("#" + ddl.id + "> option").each(function () {
                                var opt = document.createElement("option");
                                opt.text = this.text;
                                opt.value = this.value;
                                document.getElementById("Choice2").options.add(opt);
                            })
                        }
                        else if (firstDD != -1 && firstDD == val) {
                            $("#Choice1 > option").remove();
                            $("#" + ddl.id + "> option").each(function () {
                                var opt = document.createElement("option");
                                opt.text = this.text;
                                opt.value = this.value;
                                document.getElementById("Choice1").options.add(opt);
                            })

                        }
                    }

                </script>

                <p style="font-size: 1.5vw; text-indent: .55vw;">1st: @Html.DropDownList("Choice1", listNumber, new { @onchange = "UpdateDropdown(this)" }) </p>
                <p style="font-size: 1.5vw;">2nd: @Html.DropDownList("Choice2", listNumber, new { @onchange = "UpdateDropdown2(this)" }) </p>
                <p style="font-size: 1.5vw; text-indent: .4vw;">3rd: @Html.DropDownList("Choice3", listNumber, new { @onchange = "UpdateDropdown3(this)" }) </p>
                <input id="btnVote" type="submit" value="Vote" class="btn btn-default" style="font-size:2vw;" />              
                <input id="btnVoteClear" onclick="clearVotes()" type="button" value="Clear" class="btn btn-default" style="font-size:2vw;" />

                <script>
                    function clearVotes()
                    {
                        $("#Choice1").val(-1);
                        $("#Choice2").val(-1);
                        $("#Choice3").val(-1);                     
                    }
                </script>

                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-12">
                        @if (Request.IsAuthenticated)
                        {
                            <input type="hidden" name="userid" value=@User.Identity.GetUserId() />
                        }
                        else
                        {
                            <input type="hidden" name="userid" value="" />
                        }
                    </div>
                    <h3>@ViewBag.Message</h3>
                </div>
            </div>
            </center>
            <div class="col-xs-6 col-xs-offset-2" style="font-size: 14px;">
                <h2 style="text-align:center;">Top Scores</h2>
                &nbsp;
                <ol style="line-height: 1em;">
                    @{ int totalVotes = 0; }
                    @foreach (var topItem in TopScoresList)
                {
                    totalVotes += Convert.ToInt32(topItem.Substring(topItem.Length - 1));
                }
                    @{ bool first = true; string txtColor = ""; }
                    @foreach (var topItem in TopScoresList)
                {
                        <li>
                            @topItem
                            @{ double percentVote = (Convert.ToDouble(topItem.Substring(topItem.Length - 1)) / totalVotes) * 100; }
                            <div class="progress" style="transform:scaleY(.75);">
                                @{
                                    if (first == true)
                                    { first = false; }
                                    else
                                    { txtColor = "progress-bar-success"; }
                                }
                                <div class="progress-bar @txtColor" role="progressbar" aria-valuenow="@percentVote" aria-valuemin="0" aria-valuemax="100" style="width:@percentVote%">
                                    <span class="sr-only">@percentVote% Complete</span>
                                </div>
                            </div>
                        </li>
                    }
                </ol>
            </div>
        </div>
    </div>
}

@* Global Indices *@
@{
    int restaurantNum;
    int menuNum;
    int menuItemNum;
}

<script>
    //Javascript for sending AJAX request for adding to order.
    function orderItem(buttonId, orderListHref, orderItemHref) {
        console.log("Starting order item function.");
        var userID = "@User.Identity.GetUserId()";
        var splitArray = buttonId.split("+++");
        var menuItemId = parseInt(splitArray[0].trim());
        var price = splitArray[1].trim();
        var name = splitArray[2].trim();
        var desc = splitArray[3].trim();
        var restId = splitArray[4].trim();
        //console.log(userID);
        //console.log(menuItemId);
        //console.log(price);
        var postData = {
            "userID": userID,
            "menuItemID": menuItemId,
            "ItemPrice": price,
            "menuItemName": name,
            "menuItemDescription": desc,
            "restaurantID":restId
        };
        $.ajax({
            url: "/Home/OrderItem",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(postData),
            datatype: "json",
            success: function () {
                console.log("SUCCESS!!!!");
                var orderUI = '<li id="' + orderItemHref + '" class="list-group-item"><h4 class="list-group-item-heading">' + name + '<button id="' + menuItemId + ' +++ ' + price + ' +++ ' + name + ' +++ ' + desc +' +++ ' +restId+ '" onclick="removeFromOrder(this.id, \'' + orderItemHref + '\')" class="btn btnRemove label label-danger label-pill pull-xs-right" style="float:right;">Remove</button></h4><p class="list-group-item-text" id="description">' + desc + '</p></li>'
                var orderListUI = document.getElementById(orderListHref);
                orderListUI.innerHTML += orderUI;
            },
            error: function () {
                console.log("DAMMIT!");
                $("#bad").remove();
                document.getElementById(orderListHref).innerHTML += '<h4 id="bad" style="display:none; color:red;">Failed to add to order.</h4>'
                $("#bad").fadeIn();
            },
        });
    }

    function removeFromOrder(buttonId, orderItemHref) {
        // Tried to mimic orderItem function, this doesn't work
        console.log("Starting order item removal function.");
        var userID = "@User.Identity.GetUserId()";
        var splitArray = buttonId.split("+++");
        var menuItemId = parseInt(splitArray[0].trim());
        var price = splitArray[1].trim();
        var name = splitArray[2].trim();
        var desc = splitArray[3].trim();
        var restId = splitArray[4].trim();
        var deleteData = {
            "userID": userID,
            "menuItemID": menuItemId,
            "ItemPrice": price,
            "menuItemName": name,
            "menuItemDescription": desc,
            "restaurantID":restId
        };
        $.ajax({
            url: "/Home/RemoveFromOrder",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(deleteData),
            datatype: "json",
            success: function () {
                //console.log("SUCCESS!!!!");
                $("#" + orderItemHref).remove();
            },
            error: function () {
                //console.log("DAMMIT!");
                $("#bad").remove();
                document.getElementById(orderListHref).innerHTML += '<h4 id="bad" style="display:none; color:red;">Removal failed.</h4>'
                $("#bad").fadeIn();
            }
        });
    }
                </script>

<div class="row" id="test">
    @* Restaurant Selection *@
    <div class="col-xs-2">
        <div>
            <ul class="nav nav-pills nav-stacked" style="border-style:solid;border-color:gainsboro">
                @{
                    restaurantNum = 1;
                    foreach (var restaurant in restaurantList)
                    {
                        string restaurantName = Html.DisplayName(restaurant.name).ToString();
                        string restaurantHref = "restaurant" + restaurantNum;
                        string orderHref = "order" + restaurantNum;

                        <li @if (restaurantNum == 1)
                        { <text>class="active"</text> }>
                            <a href="#@restaurantHref" data-target="#@restaurantHref, #@orderHref" data-toggle="pill">@restaurantName</a>
                        </li>

                        restaurantNum++;
                    }
                }
            </ul>
        </div>
    </div>

    @* Restaurant Display *@
    <div class="col-xs-6 restaurant1">
        <div class="tab-content">
            @{
                restaurantNum = 1;
                foreach (var restaurant in restaurantList)
                {
                    string restaurantName = Html.DisplayName(restaurant.name).ToString();
                    string restaurantHref = "restaurant" + restaurantNum;
                    string orderHref = "order" + restaurantNum;
                    string imageURL = "https://lh5.ggpht.com/nct7SKXWQ3vQYQki0hQEGidMPxk_-8JqkhPnSWEjuv8bF3pd2Qj3RuAa-5IXa_hCdQ=w300";

                    <div id="@restaurantHref" class="tab-pane fade @if (restaurantNum == 1)
                    { <text>in active</text> }">
                        @* Menu Selection *@
                        <div class="list-group menu">
                            <a class="list-group-item active">
                                <h4 class="list-group-item-heading menuTitle" id="menuTitle">
                                    <img id="kitty-@restaurantNum" src=@imageURL class="logo" style="height:50px;width:50px;" />
                                    &nbsp;&nbsp;&nbsp; @restaurantName
                                </h4>
                            </a>
                            <div style="border-color:gainsboro;">
                                <ul class="nav nav-pills" id="menuTab">
                                    @{
                                        menuNum = 1;
                                        foreach (var menu in Menulist)
                                        {
                                            if (menu.restaurantID == restaurant.ID)
                                            {
                                                string menuName = Html.DisplayName(menu.menuName).ToString();
                                                string menuHref = "menu" + restaurantNum + menuNum;

                                                <li @if (menuNum == 1)
                                                { <text>class="active"</text> }>
                                                    <a data-toggle="pill" href="#@menuHref">@menuName</a>
                                                </li>
                                                menuNum++;
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        @* Menu Display *@
                        <div class="tab-content">
                            @{
                                menuNum = 1;
                                foreach (var menu in Menulist)
                                {
                                    menuItemNum = 1;
                                    if (menu.restaurantID == restaurant.ID)
                                    {
                                        string menuName = Html.DisplayName(menu.menuName).ToString();
                                        string menuHref = "menu" + restaurantNum + menuNum;

                                        <div id="@menuHref" class="tab-pane fade @if (menuNum == 1)
                                        { <text>in active</text> } ">
                                            <ul class="list-group">
                                                @foreach (var menuItem in Itemlist)
                                                {
                                                    if (menuItem.menuID == menu.menuID && menu.restaurantID == restaurant.ID)
                                                    {
                                                        <li class="list-group-item">
                                                            <h4 class="list-group-item-heading">
                                                                @menuItem.menuItemName
                                                                <button id="@menuItem.menuItemID +++ @menuItem.menuItemPrice +++ @menuItem.menuItemName +++ @menuItem.menuItemDescription +++ @restaurant.ID" onclick="orderItem(this.id, '@orderHref-list', 'orderItem-@menuItemNum')" class="btn btnPrice label label-success label-pill pull-xs-right" style="float:right;">Add to order</button>
                                                            </h4>
                                                            <p class="list-group-item-text" id="description">
                                                                @menuItem.menuItemDescription
                                                            </p>
                                                        </li>
                                                    }
                                                    menuItemNum++;
                                                }
                                            </ul>
                                        </div>
                                        menuNum++;
                                    }
                                }
                            }
                        </div>
                    </div>                   
                    restaurantNum++;
                }
            }
        </div>
    </div>

    @* Order Display *@
    <div class="col-xs-4 order1">
        <div class="tab-content">
            @{
                restaurantNum = 1;
                foreach (var restaurant in restaurantList)
                {
                    string restaurantName = Html.DisplayName(restaurant.name).ToString();
                    string orderHref = "order" + restaurantNum;

                    <div id="@orderHref" class="tab-pane fade @if (restaurantNum == 1)
                    { <text>in active</text> }">
                        <a class="list-group-item active" style="margin-bottom:20px;">
                            <h4 class="list-group-item-heading">
                                Order for <i>@restaurantName</i>
                            </h4>
                            @if (!System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                <text>Please log in to view your order.</text>
                            }
                        </a>
                        <ul class="list-group" id="@orderHref-list">
                        @{
                            menuNum = 1;
                            foreach (var order in orderList)
                            {
                                foreach (var menu in Menulist)
                                {
                                    menuItemNum = 1;
                                    if (menu.restaurantID == restaurant.ID)
                                    {
                                        foreach (var menuItem in Itemlist)
                                        {
                                            if (System.Web.HttpContext.Current.User.Identity.GetUserId() == order.userID && order.menuItemID == menuItem.menuItemID && menuItem.menuID == menu.menuID)
                                            {
                                                <li id ="orderItem-@menuItemNum" class="list-group-item">
                                                    <h4 class="list-group-item-heading">
                                                        @menuItem.menuItemName
                                                        <button id="@menuItem.menuItemID +++ @menuItem.menuItemPrice +++ @menuItem.menuItemName +++ @menuItem.menuItemDescription +++ @restaurant.ID" onclick="removeFromOrder(this.id, 'orderItem-@menuItemNum')" class="btn btnRemove label label-danger label-pill pull-xs-right" style="float:right;">
                                                            Remove
                                                        </button>
                                                    </h4>
                                                    <p class="list-group-item-text" id="description">
                                                        @menuItem.menuItemDescription
                                                    </p>
                                                </li>
                                            }
                                            menuItemNum++;
                                        }
                                    }
                                }
                            }
                            restaurantNum++;
                        }
                        </ul>
                    </div>
                }
            }
        </div>
    </div>
</div>