@using Microsoft.AspNet.Identity

@model IEnumerable<MvcLunchSite.Models.Restaurant>
@{ var restaurantList = (List<MvcLunchSite.Models.Restaurant>)ViewData["RestaurantList"];}
@{ var Menulist = (List<MvcLunchSite.Models.Menu>)ViewData["MenuList"];}
@{ var Itemlist = (List<MvcLunchSite.Models.MenuItem>)ViewData["MenuItemList"];}
@{ var TopScoresList = (List<string>)ViewData["TopScoresList"];}


@{
    ViewBag.Title = "Home Page";
}

@* Voting and Top Score Display *@
@using (Html.BeginForm("Vote", "Home", FormMethod.Post))
{
    <div class="jumbotron">
        <div class="row">
            <center>
            <div class="col-xs-6">
                <h2>Vote for Your Favorite Restaraunts</h2>
                @{
                    List<SelectListItem> listNumber = new List<SelectListItem>();
                    listNumber.Add(new SelectListItem { Value = "-1", Text = " " });
                    foreach (var item in restaurantList)
                    {
                        listNumber.Add(new SelectListItem { Value = item.ID.ToString(), Text = item.name });
                    }
                }

                <p style="font-size: 1.5vw; text-indent: .55vw;">1st: @Html.DropDownList("Choice1", listNumber)</p>
                <p style="font-size: 1.5vw;">2nd: @Html.DropDownList("Choice2", listNumber)</p>
                <p style="font-size: 1.5vw; text-indent: .4vw;">3rd: @Html.DropDownList("Choice3", listNumber)</p>
                <input id="btnVote" type="submit" value="Vote" class="btn btn-default" style="font-size:2vw;"/>

                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-12">
                        @if (Request.IsAuthenticated)
                        {
                            <input type="hidden" name="userid" value=@User.Identity.GetUserId() />
                        }
                        else
                        {
                            <input type="hidden" name="userid" value="" />
                        }
                    </div>
                    <h3>@ViewBag.Message</h3>
                </div>
            </div>
            </center>
            <div class="col-xs-6 col-xs-offset-2" style="font-size: 14px;">
                <h2 style="text-align:center;">Top Scores</h2>
                &nbsp;
                <ol style="line-height: 1em;">
                    @{ int totalVotes = 0; }
                    @foreach (var topItem in TopScoresList)
                    {
                        totalVotes += Convert.ToInt32(topItem.Substring(topItem.Length - 1));
                    }
                    @{ bool first = true; string txtColor = ""; }
                    @foreach (var topItem in TopScoresList)
                    {
                        <li>
                            @topItem
                            @{ double percentVote = (Convert.ToDouble(topItem.Substring(topItem.Length - 1)) / totalVotes) * 100; }
                            <div class="progress" style="transform:scaleY(.75);">
                                @{ 
                                    if (first == true)
                                    { first = false; }
                                    else
                                    { txtColor = "progress-bar-success"; }
                                }
                                <div class="progress-bar @txtColor" role="progressbar" aria-valuenow="@percentVote" aria-valuemin="0" aria-valuemax="100" style="width:@percentVote%">
                                    <span class="sr-only">@percentVote% Complete</span>
                                </div>
                            </div>
                        </li>
                    }
                </ol>
            </div>
        </div>
    </div>
}

@* Global Indices *@
@{
    int restaurantNum;
    int menuNum;
    int menuItemNum;
}

<div class="row">
    @* Restaurant Selection *@
    <div class="col-xs-2">
        <div>
            <ul class="nav nav-pills nav-stacked" style="border-style:solid;border-color:gainsboro">
                @{
                    restaurantNum = 1;
                    foreach (var restaurant in restaurantList)
                    {
                        string restaurantName = Html.DisplayName(restaurant.name).ToString();
                        string restaurantHref = "restaurant" + restaurantNum;

                        <li @if (restaurantNum == 1) { <text>class="active"</text> }>
                            <a data-toggle="pill" href="#@restaurantHref">@restaurantName</a>
                        </li>
                        
                        restaurantNum++;
                    }
                }
            </ul>
        </div>
    </div>

    @* Restaurant Display *@
    <div class="col-xs-6 restaurant1">
        <div class="tab-content">
            @{
                restaurantNum = 1;
                foreach (var restaurant in restaurantList)
                {
                    string restaurantName = Html.DisplayName(restaurant.name).ToString();
                    string restaurantHref = "restaurant" + restaurantNum;
                    string imageURL = "https://lh5.ggpht.com/nct7SKXWQ3vQYQki0hQEGidMPxk_-8JqkhPnSWEjuv8bF3pd2Qj3RuAa-5IXa_hCdQ=w300";

                    <div id="@restaurantHref" class="tab-pane fade @if (restaurantNum == 1) { <text>in active</text> }">
                        @* Menu Selection *@
                        <div class="list-group menu">
                            <a class="list-group-item active">
                                <h4 class="list-group-item-heading menuTitle" id="menuTitle">
                                    <img src=@imageURL class="logo" style="height:50px;width:50px;" />
                                    &nbsp;&nbsp;&nbsp; @restaurantName
                                </h4>
                            </a>
                            <div style="border-color:gainsboro;">
                                <ul class="nav nav-pills" id="menuTab">
                                    @{
                                        menuNum = 1;
                                        foreach (var menu in Menulist)
                                        {
                                            if (menu.restaurantID == restaurant.ID)
                                            {
                                                string menuName = Html.DisplayName(menu.menuName).ToString();
                                                string menuHref = "menu" + restaurantNum + menuNum;

                                                <li @if (menuNum == 1) { <text>class="active"</text> }>
                                                    <a data-toggle="pill" href="#@menuHref">@menuName</a>
                                                </li>
                                                menuNum++;
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        @* Menu Display *@
                        <div class="tab-content">
                            @{
                                menuNum = 1;
                                foreach (var menu in Menulist)
                                {
                                    menuItemNum = 1;
                                    if (menu.restaurantID == restaurant.ID)
                                    {
                                        string menuName = Html.DisplayName(menu.menuName).ToString();
                                        string menuHref = "menu" + restaurantNum + menuNum;

                                        <div id="@menuHref" class="tab-pane fade @if (menuNum == 1) { <text>in active</text> } ">
                                            <ul class="list-group">
                                                @foreach (var menuItem in Itemlist)
                                                {
                                                    if (menuItem.menuID == menu.menuID && menu.restaurantID == restaurant.ID)
                                                    {
                                                        <li class="list-group-item">
                                                            <h4 class="list-group-item-heading">
                                                                @menuItem.menuItemName
                                                                @*Price/"Add to Cart" Button (will need some html wizardry to work with ordering)*@
                                                                <span class="btn btnPrice label label-success label-pill pull-xs-right" data-hover="ADD" style="float:right;">$@menuItem.menuItemPrice</span>
                                                            </h4>
                                                            <p class="list-group-item-text" id="description">
                                                                @menuItem.menuItemDescription
                                                            </p>
                                                        </li>
                                                        menuItemNum++;
                                                    }
                                                }
                                            </ul>
                                        </div>
                                        menuNum++;
                                    }
                                }
                            }
                        </div>
                    </div>                   
                    restaurantNum++;
                }
            }
        </div>
    </div>

    @* Order Display *@
    <div class="col-xs-4 order1">
        <a class="list-group-item active">
            <h4 class="list-group-item-heading">
                Preferred Order
            </h4>
        </a>
    </div>
</div>
