@using Microsoft.AspNet.Identity

@model IEnumerable<MvcLunchSite.Models.Restaurant>
@{ var list = (List<MvcLunchSite.Models.Restaurant>)ViewData["RestaurantList"];}
@{ var Menulist = (List<MvcLunchSite.Models.Menu>)ViewData["MenuList"];}
@{ var Itemlist = (List<MvcLunchSite.Models.MenuItem>)ViewData["MenuItemList"];}

@{ 
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("Vote", "Home", FormMethod.Post))
{
    <center>
    <div class="jumbotron">
        <h2>Vote for Your Favorite Restaraunts</h2>
        @{List<SelectListItem> listNumber = new List<SelectListItem>();
            //listNumber.Add(new SelectListItem { Value = " ", Text = " " });
            //listNumber.Add(new SelectListItem { Value = "1", Text = "1" });
            //listNumber.Add(new SelectListItem { Value = "2", Text = "2" });
            //listNumber.Add(new SelectListItem { Value = "3", Text = "3" });
            listNumber.Add(new SelectListItem { Value = " ", Text = " " });
            foreach (var item in list)
            {
                listNumber.Add(new SelectListItem { Value = item.ID.ToString(), Text = item.name });
            }
        }


        <p>1st:  @Html.DropDownList("Choice1", listNumber)</p>
        <p>2nd: @Html.DropDownList("Choice2", listNumber)</p>
        <p>3rd:  @Html.DropDownList("Choice3", listNumber)</p>
        <input id="btnVote" type="submit" value="Vote" class="btn btn-default" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
@if (Request.IsAuthenticated)
{
    <input type="hidden" name="userid" value=@User.Identity.GetUserId() />
}
else
{
    <input type="hidden" name="userid" value="" />
}

            </div>
            <h3>@ViewBag.Message</h3>
        </div>

    </div>
    </center>
    }

<div class="row">
    <div class="col-md-4">
       @foreach(var restItem in list)
       {
           <p>@Html.DisplayName(restItem.name)</p>
           
           foreach (var menuItem in Menulist)
           {
               if (menuItem.restaurantID == restItem.ID)
               {
                <p>&nbsp&nbsp&nbsp @Html.DisplayName(menuItem.menuName)</p>
                   
                   foreach (var item in Itemlist)
                   {
                       if (item.menuID == menuItem.menuID)
                       {
                        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @Html.DisplayName(item.menuItemName)</p>
                       }
                   }
               }
           }
       }
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
       
    </div>
</div>