@model MvcLunchSite.Models.Menu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.restaurantID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restaurantID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.menuName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.menuName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.menuID }) |
    @Html.ActionLink("Back to List", "Index","Restaurants")
</p>
