@model IEnumerable<MvcLunchSite.Models.Menu>
@{ var list = (List<MvcLunchSite.Models.Menu>)ViewData["MenuList"];}

@{
    ViewBag.Title = "Menu";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create","Menus")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menuName)
        </th>
        <th></th>
    </tr>

@if (list != null)
{
    foreach (var item in list)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurant.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menuName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Menus", new { id = item.menuID }, null) |
            @Html.ActionLink("Details", "Details","Menus", new { id = item.menuID }) |
            @Html.ActionLink("Delete", "Delete","Menus", new { id = item.menuID })
        </td>
    </tr>
    }
}
else
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.menuName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Menus", new { id = item.menuID }, null) |
                @Html.ActionLink("Details", "Details","Menus", new { id = item.menuID }) |
                @Html.ActionLink("Delete", "Delete","Menus", new { id = item.menuID })
            </td>
        </tr>
    }
}

</table>
