@model IEnumerable<SuperLunchDecider.Models.MenuItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.menuItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menuItemPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menuItemDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menuID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.menuItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menuItemPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menuItemDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menuID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.menuItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.menuItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.menuItemID })
        </td>
    </tr>
}

</table>
